body {
  font-family: 'Lucida Console', monospace;
  background: linear-gradient(to bottom, #e9f7ef, #e1efdd, #e1eddd)
}

.qr-heading {
  font-size: 1.5rem;
  margin: 2rem auto;
}

@media (min-width: 768px) {
  .qr-heading {
    font-size: 2.3rem;
  }
}